/* -----------------------------------------------------
   created with https://www.codeandweb.com/texturepacker 
   -----------------------------------------------------
   $TexturePacker:SmartUpdate:66b794ac5c63234aa082871d77ab520c:4b6d5b42754f4d5d549747880afd4b89:3073a2cbadd3bb677cba8f56e33cbd0e$
   -----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(person.png);}

.angry {width:400px; height:930px; background-position: -0px -0px}
.eye {width:400px; height:930px; background-position: -400px -0px}
.fllow {width:400px; height:930px; background-position: -800px -0px}
.init-boy {width:400px; height:930px; background-position: -0px -930px}
.scared {width:400px; height:930px; background-position: -400px -930px}
.tired {width:400px; height:930px; background-position: -800px -930px}
