/* ----------------------------------------------------
   created with http://www.texturepacker.com 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:cf4f6d07440ec932eaed67002d50900e$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(cetifer.png);}

.‘ŸÕÊ“ª¥Œ {width:319px; height:118px; background-position: -1294px -2px}
.πßœ≤ {width:969px; height:142px; background-position: -2px -2px}
.ΩÿÕºÏ≈“´ {width:319px; height:118px; background-position: -973px -2px}
