/* ----------------------------------------------------
   created with http://www.codeandweb.com/texturepacker 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:b820b1cdc35e082a163d909aac1518fa:2b46cbe9882a0aee0ac1e640405d890d:912c13b19c4993f8f4144d80b773e561$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(Mission3object.png);}

.audio {width:182px; height:131px; background-position: -1px -789px}
.clock {width:181px; height:181px; background-position: -546px -480px}
.drink {width:161px; height:199px; background-position: -546px -279px}
.drinkman {width:372px; height:387px; background-position: -1px -400px}
.lamp {width:168px; height:276px; background-position: -546px -1px}
.lamp2 {width:395px; height:397px; background-position: -1px -1px}
.mik {width:146px; height:687px; background-position: -398px -1px}
.pic {width:191px; height:257px; background-position: -375px -690px}
