/* -----------------------------------------------------
   created with https://www.codeandweb.com/texturepacker 
   -----------------------------------------------------
   $TexturePacker:SmartUpdate:36c197eca26abb31c97a750573721f92:7d6e7fd0bd5f827e5f973ea757017792:2354ff104de065bd6dd71558c976c0cc$
   -----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(t1.png);}

.tony {width:746px; height:317px; background-position: -1px -1px}
.人物 {width:746px; height:317px; background-position: -749px -1px}
.吹风机 {width:746px; height:317px; background-position: -1px -320px}
.旺财 {width:746px; height:317px; background-position: -749px -320px}
.毛巾 {width:746px; height:317px; background-position: -1px -639px}
.洗发池 {width:746px; height:317px; background-position: -749px -639px}
.画像 {width:746px; height:317px; background-position: -1px -958px}
.蒸发机 {width:746px; height:317px; background-position: -749px -958px}
.转筒 {width:746px; height:317px; background-position: -1px -1277px}
