/* ----------------------------------------------------
   created with http://www.codeandweb.com/texturepacker 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:c87b38a2d44da53985709a912059e145:4dd639f281e7efa8517d33ce952c4ea2:74e02120b5e7ede06f088ac4520ef8c8$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(Mission3Word.png);}

.audio {width:746px; height:317px; background-position: -1px -1px}
.clock {width:746px; height:317px; background-position: -749px -1px}
.drink {width:746px; height:317px; background-position: -1px -320px}
.lamp {width:746px; height:317px; background-position: -749px -320px}
.mik {width:746px; height:317px; background-position: -1px -639px}
.pic {width:746px; height:317px; background-position: -749px -639px}
.w1 {width:746px; height:317px; background-position: -1px -958px}
.w2 {width:746px; height:317px; background-position: -749px -958px}
