/* ----------------------------------------------------
   created with http://www.texturepacker.com 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:6a0d1f00578c082610abd348a496b71f$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(tips.png);}

.未通过前方 {width:782px; height:164px; background-position: -2px -334px}
.未通过当前 {width:782px; height:164px; background-position: -2px -168px}
.继续 {width:782px; height:164px; background-position: -2px -2px}
