/* ----------------------------------------------------
   created with http://www.texturepacker.com 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:391dd06fcbf41074806a778332cdbbd8$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(person.png);}

.初始篮子购物车 {width:376px; height:920px; background-position: -1514px -2px}
.可乐 {width:376px; height:920px; background-position: -1136px -2px}
.咖啡 {width:376px; height:920px; background-position: -758px -2px}
.洗发露 {width:376px; height:920px; background-position: -380px -2px}
.盒子 {width:376px; height:920px; background-position: -2px -2px}
