/* ----------------------------------------------------
   created with http://www.codeandweb.com/texturepacker 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:1f4818f6d6642e2b6f3c5c9904450c49:65422100cae554dae223b8c0ea663268:cea864eb8c27721cfead16c882f7919e$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(object.png);}

.cleaner {width:59px; height:118px; background-position: -1370px -351px}
.comb {width:112px; height:50px; background-position: -906px -861px}
.compute1 {width:417px; height:361px; background-position: -1px -576px}
.compute2 {width:417px; height:361px; background-position: -420px -576px}
.duck {width:107px; height:105px; background-position: -1261px -351px}
.fly {width:65px; height:74px; background-position: -839px -861px}
.l1 {width:313px; height:573px; background-position: -1px -1px}
.l2 {width:313px; height:573px; background-position: -316px -1px}
.mirror1 {width:272px; height:283px; background-position: -839px -576px}
.mirror2 {width:272px; height:283px; background-position: -1113px -576px}
.pic {width:176px; height:198px; background-position: -1261px -1px}
.r1 {width:313px; height:573px; background-position: -631px -1px}
.r2 {width:313px; height:573px; background-position: -946px -1px}
.wind {width:137px; height:148px; background-position: -1261px -201px}
