/* ----------------------------------------------------
   created with http://www.codeandweb.com/texturepacker 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:d80a59bcca2c3ce03d20dc5099034a2f:ed8e572856d563a247b7c9812b3e7d1f:3073a2cbadd3bb677cba8f56e33cbd0e$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(person.png);}

.angry {width:425px; height:935px; background-position: -1px -1px}
.eye {width:425px; height:935px; background-position: -1px -938px}
.flower {width:425px; height:935px; background-position: -428px -1px}
.init {width:425px; height:935px; background-position: -428px -938px}
.scared {width:425px; height:935px; background-position: -855px -1px}
.tired {width:425px; height:935px; background-position: -855px -938px}
