/* -----------------------------------------------------
   created with https://www.codeandweb.com/texturepacker 
   -----------------------------------------------------
   $TexturePacker:SmartUpdate:7c26ff6b408302dcf8518c495548c4d2:cec84daccf05b4913b41fbee2b994798:87a4c614c253d9d740129828be91b8fd$
   -----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(xx.png);}

.1 {width:1031px; height:437px; background-position: -1px -1px}
.2 {width:1031px; height:437px; background-position: -1px -440px}
.3 {width:1031px; height:437px; background-position: -1px -879px}
.4 {width:1031px; height:437px; background-position: -1px -1318px}
